.footer {
  height: 65px;
  background-color: #212A3F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer-size {
  width: 1352px;
  max-width: 1352px;
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
  margin-right: 55px;
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
}
