
.call {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.call-sizing{
  display: flex;
  width: 100%;
  max-width: 1350px;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}

.call-info {
  background-color: #E4E5E8;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border-radius: 4px;
  color: #212A3F;
  margin-left: 30px;
  margin-right: 30px;
}

.call-info h3 {
  font-size: 20px;
  padding-bottom: 15px;
}


.call-content a, p {
  text-decoration: none;
  color: #212A3F;
}

.call-content {
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 200px;
  border-radius: 4px;
  margin-bottom: 10px;
}
