.header {
  display: none;
}

.footer {
  display: none;
}

.main-top1 {
  display: none;
}

.text-top-1 {
  display: none;
}

.title-top1 {
  display: none;
}

.top1-text {
  display: none;
}

.main2 {
  display: none;
}

.main3 {
  display: none;
}

.main4 {
  display: none;
}

.wave-top1 {
  display: none;
}

.mobile-none {
  display: block;
}
